<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Odin Inventory</title>
  </head>
  <body>
    <%- include("header") %>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <div>
        <label for="name">Name: </label
        ><input
          type="text"
          name="name"
          value="<%= category ? category.name : ''%>"
        />
      </div>
      <div>
        <label for="description">Description: </label
        ><input
          type="text"
          name="description"
          value="<%= category ? category.description : ''%>"
        />
      </div>
      <div>
        <input type="submit" />
      </div>
      <% if (errors) { %>
      <ul>
        <% for (const error of errors) { %>
        <li><%= error.msg %></li>
        <% } %>
      </ul>
      <% } %>
    </form>
  </body>
</html>
