<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/script.js"></script>
    <title>Odin Inventory</title>
  </head>
  <body>
    <%- include("header") %>
    <h2><%= item.name %></h2>
    <p>Description: <%= item.description %></p>
    <p>
      <a href="<%=item.category.url%>">Category: <%=item.category.name %></a>
    </p>
    <p>Price: <%= Math.round(item.price * 100) / 100 %></p>
    <p>Quantity left: <%= item.numberInStock %></p>
    <button onClick="deleteItem('<%= item.id %>')">Delete</button>
  </body>
</html>
